@font-face {
    font-family: lalezar;
    src: url("../assets/fonts/Lalezar.ttf");
}
@font-face {
    font-family: yekan1;
    src: url("../assets/fonts/Yekan.ttf");
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

.header{
    width: 100%;
    height: 70px;
    background-color: #ffa500;
    text-align: center;
}
.header .title{
    font-family: lalezar;
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
    
}
.header .content{
    height: 800px;
    padding: 15px;
    background-color: #141213;
}

